.appearing {
    animation: slideDown 1s ease-out forwards !important;
}

.disappearing {
    animation: slideUp 1s ease-in forwards !important;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

tr.appearing,
tr.disappearing {
    display: table-row;
}



